<div class="container">
  <div class="example_words">
    <p class="title">例から検索</p>
    <ul class="list-inline words">
      <% @example_words.each do |word| %>
        <li class="list-inline-item">
          <%= link_to word, { controller: 'meta_frames', action: 'index', words: word },{ class: 'word' } %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if @search_form && @search_form.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @search_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= react_component('index/MetaFrames', { meta_frames: @view_meta_frames,
                                            twitter_image_path: @twitter_image_path,
                                            image_paths: @image_paths }) %>
</div>